---
import Grid from "../components/Grid.astro";
import GridItem from "../components/GridItem.astro";
import Link from "../components/Link.astro";
import AdobePremiere from "../icons/AdobePremiere.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Programs">
  <h1 class="text-6xl text-center font-bold max-md:text-4xl">Programs</h1>
  <Grid>
    <GridItem title="Video Editor">
      <Link url="https://www.adobe.com/products/premiere.html">
        <AdobePremiere slot="icon" />
        Adobe Premiere
      </Link>
    </GridItem>
  </Grid>
</Layout>
