---
import ExternalLink from "@/icons/ExternalLink.astro";

interface Props {
  url?: string;
}

const { url } = Astro.props;
---

<a href={url} target="_blank" rel="noopener noreferrer">
  <slot />
  <ExternalLink />
</a>

<style>
  a {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    width: fit-content;
    padding: 0.25rem;
    color: var(--text);
  }

  a:hover {
    color: var(--text-hover);
  }

  @media not all and (min-width: 768px) {
    a {
      font-size: 0.75rem;
      line-height: 1rem;
    }
  }
</style>
