---
import ExternalLink from "../icons/ExternalLink.svg";
interface Props {
  url: "string";
}

const { url } = Astro.props;
---

<a
  href={url}
  target="_blank"
  class="flex flex-row justify-center items-center gap-1 w-fit p-1 hover:text-text-hover max-md:text-xs"
>
  <slot />
  <ExternalLink />
</a>
