---
import Github from "@/icons/Github.astro";
import Menu from "@/icons/Menu.astro";
---

<script>
  const menu = document.getElementById("menu") as HTMLButtonElement;
  const nav = document.getElementById("nav") as HTMLDivElement;

  menu.addEventListener("click", () => {
    nav.classList.toggle("active");
    menu.classList.toggle("active");
  });

  document.addEventListener("mousedown", (e) => {
    if (!nav.contains(e.target as Node) && !menu.contains(e.target as Node)) {
      if (nav.classList.contains("active")) {
        nav.classList.remove("active");
        menu.classList.remove("active");
      }
    }
  });
</script>

<header>
  <button id="menu"><Menu /></button>
  <nav id="nav">
    <a href="/">Inicio</a>
    <a href="/video-editors">Editores de video</a>
  </nav>

  <div>
    <a
      href="https://github.com/Elolcol/programas"
      target="_blank"
      rel="noopener noreferrer"><Github /></a
    >
  </div>
</header>

<style>
  header {
    position: relative;
    z-index: 100;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1400px;

    button {
      display: grid;
      place-items: center;
      gap: 0.5rem;
      height: fit-content;
      width: fit-content;
      white-space: nowrap;
      border-radius: 0.75rem;
      padding: 0.75rem;
      border: solid 2px var(--card-border);
      background-color: var(--card-background);
      color: var(--text);
    }

    button:hover {
      background-color: var(--card-border);
    }
  }

  nav {
    position: absolute;
    top: 60px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    width: fit-content;
    max-height: 80vh;
    overflow: auto;
    padding: 1rem;
    background-color: var(--card-border);
    border-radius: 0.75rem;
    transition: all 0.1s ease-in-out;
    opacity: 0;
    visibility: hidden;
    transform-origin: top left;
    transform: translate(0, -5px) scale(0.9);
  }

  div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
  }

  a {
    font-size: 1.1rem;
    line-height: 1.1rem;
    font-weight: 500;
    color: var(--text);
  }

  a:hover {
    color: var(--text-hover);
  }

  nav.active {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0) scale(1);
  }

  button.active {
    background-color: var(--card-border);
  }
</style>
