---

---

<nav
  class="flex flex-row justify-start items-center flex-wrap gap-2 max-w-[1400px]"
>
  <a
    href="/VideoEditors"
    class="grid place-items-center gap-2 h-fit w-fit whitespace-nowrap rounded-xl p-3 border-card-border bg-card-background border-2 hover:bg-card-border"
  >
    Video Editors
  </a>
</nav>
