---
import "@fontsource-variable/onest";
import Navbar from "@/components/Navbar.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta charset="UTF-8" />
    <title>Programas</title>
    <meta
      name="description"
      content="Esta pagina se encarga de recopilar programas y herramientas."
    />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="https://programs-6of.pages.dev/" />
  </head>
  <body>
    <Navbar />
    <main>
      <slot />
    </main>
    <style is:global>
      :root {
        --main-background: #2d3250;
        --card-background: #424769;
        --card-border: #7077a1;
        --text-hover: #f6b17a;
        --white: #ffffff;
        --black: #000000;
      }

      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        appearance: none;
        text-decoration: none;
        transition: all 0.05s ease;
      }

      html {
        scrollbar-gutter: stable both-edges;
        font-family:
          "Onest Variable",
          system-ui,
          -apple-system,
          BlinkMacSystemFont,
          "Segoe UI",
          Roboto,
          Oxygen,
          Ubuntu,
          Cantarell,
          "Open Sans",
          "Helvetica Neue",
          sans-serif;
        color: #fff;
        background: var(--main-background);
      }

      body {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1.25rem;
      }

      main {
        display: grid;
        place-items: center;
        gap: 1rem;
      }
    </style>
  </body>
</html>
